body {
    background: url("../images/realistic-elegant-geometric-shapes-background_23-2148434482.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Avenir', sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

.container-fluid {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fa {
    color: white;
    margin: 10px 5px;
    font-size: 3em !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.staff img {
    border-radius: 20%;
    align-items: center;
}